.signin__content {
  display: flex;
}
.signin__top {
  height: 150px;
  margin-bottom: 30px;
}
.signin__logo {
  width: 120px;
  height: 150px;
  float: left;
}
.signin__title {
  color: #FFF;
  font-weight: 800;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.signin__title > *:first-child {
  font-size: 37px;
}
.signin__title > *:last-child {
  font-size: 73px;
}
.signin__cont {
  margin: auto;
  width: 450px;
  padding: 10px;
  position: relative;
}
.signin__form {
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}
.signin__form__switch {
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}
.signin__form__switch__item {
  width: 50%;
  text-align: center;
  font-weight: 800;
  color: #C9BBC8;
  cursor: pointer;
  line-height: 50px;
}
.signin__form__switch__item.active {
  color: #2458A4;
}
.signin__form input {
  width: 100%;
  padding: 10px;
  border: solid 1px #C9BBC8;
  border-radius: 5px;
  height: 42px;
}
.signin__form input:not([type="submit"]) {
  margin: 5px 0 20px 0;
}
.signin__form input[type="submit"] {
  background-color: #2458A4;
  color: #FFF;
  font-weight: 800;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.signin__form__input-label {
  color: #747474;
}
.signin__form__message.show {
  display: block;
}
.signin__form__message {
  background-color: #DDE7EE;
  min-height: 60px;
  position: absolute;
  top: calc(100% - 15px);
  width: calc(100% - 20px);
  border-radius: 0 0 5px 5px;
  padding: 15px 30px 15px 55px;
  display: none;
}
.signin__form__message.error{
  color: #AE0A0A;
}
.signin__form__message.error:before,
.signin__form__message.ok:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.signin__form__message.error:before {
  background-image: url('../img/message-error.svg');
}
.signin__form__message.ok:before {
  background-image: url('../img/message-ok.svg');
}
